
body{
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;

    scroll-behavior: smooth;  
    --color-default: #0a0d13;
    --color-primary: #0d42ff;
    --color-secondary: #0e1d34;
}

.banner-image {
  background-color: #0e1d34;;
  background-image: url('../img/hero-bg.png');
  background-size: cover;
  height:700px;
  
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 0.5rem;
}

.form-control {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 10px;
  
}

.header_first h1 ,p{
  
  color:white;
}
#Form
{

  background-color: white; 
  border-radius: 10px;
}


.button_1
{
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 10px;
}
.ban_1
{
  height: 700px;
}